<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestDemo1</display-name>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.tedu.req.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo2</display-name>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>com.tedu.req.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RrquestDemo1</display-name>
    <servlet-name>RrquestDemo1</servlet-name>
    <servlet-class>com.tedu.res.RrquestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RrquestDemo1</servlet-name>
    <url-pattern>/RrquestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.tedu.res.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo2</display-name>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>com.tedu.res.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/ResponseDemo2</url-pattern>
  </servlet-mapping>
</web-app>